<tbody>   
  <tr>
   <td><%= saleheader.saledetail.item %></td>
   <td><%= @saledetail.line %></td>
   <td><%= saledetail.value%></td>  
   <td><%= saledetail.total %></td>
   <td><%= saledetail.saleheader.nombre %></td> 
   <td><%= link_to 'Show', saledetail, class: "btn btn-default btn-sm" %></td>
   <td><%= link_to 'Edit', edit_saledetail_path(saledetail), class: "btn btn-default btn-sm" %></td>
   <td><%= button_to 'Delete', saledetail, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>  
</tbody>
