      <% if user_signed_in? %>
        <ul>  
          <div class="ui-nodisc-icon ui-alt-icon">
            <li class="arrow">

               
               <% if current_user.seller? %>               
               <%= link_to "Inventarios", inventario_path, :class => "ui-btn ui-shadow ui-corner-all ui-icon-grid  ui-btn-icon-left" %>
               <% end %>

              <%= link_to "Edit profile", edit_user_registration_path, :class => "ui-btn ui-shadow ui-corner-all ui-icon-gear ui-btn-icon-left" %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :get, :class => "ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-left"  %> 
            </li>
          </div> 
      </ul>
      <% end %>

<div  id="dialog" title="Options">
<p>Controle la entrada y salida de artículos</p>
  <ul>
    <li>1. Cree artículos</li>
    <li>2. Genere el reporte de artículos con código de barras</li>
    <li>3. Registre una entrada de un artículo con su valor de venta y compra</li>
    <li>4. Venda artículos</li>
    <li>5. Genere el reporte de entrada y salida de artículos</li>
  </ul>
</div id="dialog" title="Options">

 <% if not user_signed_in? %>
     <ul><li class="individual"><%= link_to "Sign up", new_user_registration_path %></li></ul>
     <ul><li class="individual"><%= link_to "Sign in", new_user_session_path  %></li></ul>
  <% end %>

