<p id="notice"><%= notice %></p>

<p>
  <strong>Outfecha:</strong>
  <%= @outkardex.outfecha %>
</p>

<p>
  <strong>Numdocumento:</strong>
  <%= @outkardex.numdocumento %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @outkardex.cantidad %>
</p>

<p>
  <strong>Valorventa:</strong>
  <%= @outkardex.valorventa %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @outkardex.moneda %>
</p>

<%= link_to 'Edit', edit_outkardex_path(@outkardex) %> |
<%= link_to 'Back', outkardexes_path %>
