<%= form_for(@saledetail, remote: true, :html {:role => "form" }) do |f| %>

<script>
    $('input[type="text"]').on('blur', function() { 

        var Calc_total = $('#calculate_total');
        Calc_total;
        var total = value * quantity
        total;
    });
</script>

  <% if @saledetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saledetail.errors.count, "error") %> prohibited this saledetail from being saved:</h2>

      <ul>
      <% @saledetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Número_de_linea_en_la_factura%><br>
    <%= f.number_field :line%>
  </div>
  
   <div class="field">
    <%= f.label :Artículo%><br>
    <%= f.collection_select :articulo_id, Articulo.where(user_id: current_user.id).order(:nombre), :id, :name_with_desc, 
        include_blank: false %> 
  </div>

  <div class="field">
    <%= f.label :Valor_unitario_del_artículo %><br>
    <%= f.number_field :value  %>
  </div>
   <div class="field">
    <%= f.label :Cantidad_de_artículos_comprados %><br>
    <%= f.number_field :quantity%>
  </div>

  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total, class: "form-control", id: "calculate_total(:value, :quantity)" %>
  </div>

   <div class="field">
     <%= f.label :Ptje_Descuento %><br>
     <%= f.number_field :discountpercent, :class => 'text_field', :step => 0.1 %>
   </div>
     
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
