<table >
  <thead>
    <tr>
      <th>Articulo</th>  
      <th>Descripcion</th>
      <th>Componente</th>
      <th>Modelo</th>
      <th>Unidad de medida</th>
      <th>Cantidad</th>
    </tr>
    <tr></tr>   
  </thead>
   
  <tbody>   
    
    <% if @inventarios.present? %>
    
    <% @inventarios.each_slice(1) do |slice| %>  
      <tr rowspan="2">
        
      <% slice.each do |inventario| %>  
        <td><%= inventario.articulo_nombre %></td>
        <td><%= inventario.articulo_descripcion %></td>
        <td><%= inventario.componente_nombre %></td>
        <td><%= inventario.modelo_nombre %></td>
        <td><%= inventario.medida_nombre %></td>
        <td align="right"> <%=  number_with_precision(inventario.cantidad_integer, :precision => 2, :separator => ',', :delimiter => '.', :strip_insignificant_zeros => true)  %></td> 
      <% end %> 
        
      </tr>
    <% end %>
    
    <% end %>
  </tbody>
</table>

<br>