<header data-role="header"  data-position="fixed">    
  <div id="hcontainer" class="container">
    <nav>      
      <%= yield(:toolbar) %>
        <div class="ui-nodisc-icon ui-alt-icon">
          <%= link_to "Home", root_path, :class => "ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-inline"  %>
          <%= link_to "Back", :back, :class => "ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext ui-btn-inline" unless current_page? root_path %>

          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :get, :class => "ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline"  %>
          <% end %>     
            <h1><%=h yield(:title) %></h1>             
        </div>

      
        <% unless flash.empty? %>
          <div class="info">
            <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <%- end -%>
          </div>
        <% end %>
    </nav>
  </div>
</header>
