<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/logo_nanducho.png" />
    <meta charset="UTF-8" />
    <title><%= h(yield(:title) || "Untitled") %></title>
    <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
    <%= stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.min.css" %>



    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <%= yield(:head) %>
  </head>
  <body>
    <header data-role="header"  data-position="fixed">
    <%= render 'layouts/header' %>
     <div id="container"> 

      <%= yield %></br>
     </div>  
  </body>
</html>